<h1 class="display-3">Reading List</h1>
<br>
  <img src="images/Emily.png">
<br>
  <img src="Arnold.png">
<br>
  <img src="Julia.png">
<br>
<ul>
  <li><%= link_to 'See Full Book List', books_path %></li>
  <li><%= link_to 'Add a New Book', new_book_path %></li>
</ul>
